@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    width: 100vw;
    /* height: 100vh; */
    font-family: "Inter", sans-serif;
    
}
#container{
    /* border: 1px solid green; */
    width: 50%;
    height: 80%;
    margin: auto;
}
#cards-container{
    /* border: 2px solid black; */
    width: 50%;
    height: 80%;
    margin: auto;
}
#card {
    position:relative;
    width: 50%;
    /* height: 65%; */
    /* margin: auto; */
    border-radius: 2px;
    /* border: 1px solid red; */
    overflow: hidden;
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.329);

}
#card:hover{
    transform: scale(0.95);
    transition: transform 0.299s ease-in-out;
}
#card img{
    width: 100%;
    /* height: 75%; */
    margin: auto;
    /* border: 1px solid black; */
}
#card h6{
    font-weight: 700;
    padding: 3px 0px 1px 10px;
}
#card p{
    color: grey;
    font-size: 8px;
    padding: 3px 0px 1px 10px;
}
#discount{
    color: orangered;
    font-size: 9px;
   
}
#original-price{
    text-decoration: line-through;
    font-size: 8px;
    

}
 
#new-price{
    color: black;
    font-size: 9px;
    font-weight:bold;
}
#label{
    position: absolute;
    top: 9%;
    left: 0.5px;
}
#card p[id="label"]{
    color: white;
    background-color:rgba(0, 0, 0, 0.733);
    padding:0.2rem;
    width: 25px;
    border-radius: 0px 5px 5px 0px;
}
.fa-star{
    color: green;
}
#rating{
    position: absolute;
    left: 3px;
    bottom: 28%;
}

#card p[id="rating"]{
    background-color: rgba(255, 255, 255, 0.703);
    padding: 0.2rem;
    font-size: 6.5px;
    font-weight: 700;
    color: black;
    border-radius: 2px;
    width: 45px;
    height: 8px;
}
@media screen and (max-width: 1200px) {
    #card {
        
        position: relative;
        top: 20px;
        width: 150px;
        height: 240px; 
        margin: auto; 
        border-radius: 2px;
        overflow: hidden;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
        will-change: transform;
    }
        #card h6 {
            font-size: 12px; 
        }
        
        #card p {
            font-size: 6px; 
        }
    
        #discount {
            font-size: 7px; 
        }
    
        #original-price {
            font-size: 6px; 
        }
    
        #new-price {
            font-size: 7px; 
        }
        #container{
            
            width: 90%;
            height: auto;
            margin: 0 auto;
        }
        #rating{
            position: absolute;
            left: 3px;
            bottom: 31%;
        }
    
    }
    
    
