*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    /* border: 1px solid red; */
}
#times{
    display: flex;
}
span{
    font-size: 30px;
    position: relative;
    bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
}