*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.image{
    width: 280px;
    height: 280px;
    border-top-right-radius:8px ;
    border-top-left-radius: 8px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    gap: 30px;
}
.card{
    border-top-left-radius: 8px;
    border-top-right-radius:8px ;
    border-bottom-left-radius: 8px;
    box-shadow: 2px 2px 3px 2px rgb(104, 101, 101);
}
.name{
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    
}

#menu{
    width: 200px;
    padding: 0.5rem;
    margin: 2rem;
}
#inputBox{
    width: 200px;
    padding: 0.5rem;
    margin: 2rem;
}
#btn{
    width: 80px;
    padding: 0.5rem;
    background-color: cornflowerblue;
    outline: none;
    border: 0;
    border-radius: 5px;
}
.card:hover{
    transform: scale(1.0599);
    transition: transform 0.299s ease-in-out;
    
}
.fa-spinner {
    animation: spin 1s infinite linear;
    color: lightgrey;
}
.loading{
    color: lightgrey;
}
.fa-face-smile{
    color: lightgrey;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 767px) {
  
    .image {
        width: 100%;
        height: auto;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

  
    #container {
        display: block; 
        margin: 15px;
        gap: 20px; 
    }

  
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

  
    .name {
        font-size: 18px; 
    }

    
    #menu, #inputBox, #btn {
        width: 90%; 
        margin: 10px 10px; 

}
   .fa-spinner, .loading, .fa-face-smile{
    color: gray;
    font-size: 18px;
   }
}
