*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    position: relative;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgb(85, 83, 83);
}
.image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 1px solid red; */
}
.gender{
    position:absolute;
    /* top: 126px; */
    bottom: 0;
    /* right: 350px; */
    background-color: red;
    padding: 0.2rem;
    border-bottom-left-radius:5px;
    border-top-right-radius: 5px;
    color: #ffff;
    left: 0;

}
.department{
    position:absolute;
    bottom: 0;
    right: 0px;
    background-color: orange;
    padding: 0.2rem;
    border-bottom-right-radius:5px;
    border-top-left-radius: 5px;
    overflow: hidden;
}
#container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    gap:10px;
    margin: 20px;
}
.right-div{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.mail{
    color: gray;
}
.name{
    color: gray;
}
@media screen and (max-width: 568px) {
    .card{
        /* width: calc(100% - 20px); */
        width: 500px;
    }
}