*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   height: 100vh;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}
#heart h1{
    color: red;
    font-size: 200px;
    position: relative;
    bottom: 40px;
    animation: beat 900ms linear infinite;
}
@keyframes beat{
    0%{
        transform: scale(0.75); opacity: 0.5;color: red;
    }
    50%{
        transform: scale(1); opacity: 1;color: darkred;
    }
    100%{
        transform: scale(0.75); opacity: 0.5;color: red;
    }
}
#heart h1:hover{
    animation: none;
}
h3{
    position: absolute;
    color:grey;
    font-size: 50px;
    display: none;
}
#heart:hover h3{
    display: block;
}