*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#model{
    width: 500px;
    height: 400px;
    border-radius:8px;
    color: white;
    background-color:#32373bee;
    padding: 1.8rem;
    display: none;
    position:fixed;
    z-index: 1000; /* edhi important leka pothe ah window manaki overlap avuthundhi so text under the box also will be selected */
    top: 160px;
    left: 30px;
}

@keyframes box-1-slide-in {
    from{
       transform: translateY(100vw);
    }
    to{
        transform:translateX(0);
    }
}
@keyframes box-1-slide-out {
    from{
        transform:translateX(0);
    }
    to{
        transform: translateY(100vw);  
    }
}


#icon{
    width: 100px;
    height: 130px;
}
.fa-cookie-bite{
    color: rgba(81, 81, 223, 0.833);
    font-size: 110px;
}
#title{
    height: 45px;
}
p{
    height: 70px;
}
#buttons{
    height: 43px;
}
#one{
    height: 38px;
    width: 210px;
    background-color: black;
    color: white;
    outline: none;
    border: 0;
    font-size: 16px;
    border-radius: 2px;
}
#two{
    height: 38px;
    width: 210px;
    background-color: black;
    color: white;
    outline: none;
    border: 0;
    font-size: 16px;
    border-radius: 2px;
}
#three{
    height: 38px;
    width: 425px;
    outline: none;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
}
a{
    color: white;
}


#gradient{
    padding: 40px;
    transition: filter 0.1s ease;
}

#list{
    width: 300px;
    height: 70px;
    position: relative;
    bottom: 50px;
    left: 30px
}

@media (max-width : 500px) {
    #model{
        width: 280px;
        height: 470px;
        position: fixed;
        /* top: 460px;  */
        /* left: 100px; */
    }
    #one{
   width: 100px;
   font-size: 12px;
    }
    #two{
        width: 100px;
        font-size: 12px;
    }
    #three{
        width: 207px;
        margin-top: 7px;
    }
    .close{
        position: relative;
        top: 75px;
    }
    #des{
        font-size: 14px;
    }
}

