*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
#text{
  font-size: 30px;
  font-weight: 700;
  white-space: pre-wrap;
}
#copy-2{
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;
}
#popUp{
  width: 320px;
  height: 80px;
  /* border: 1px solid rgb(79, 42, 165); */
  box-shadow: 0px 0px 5px 1px lightgray;
  position: absolute;
  right: 20px;
 bottom: 50px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.384);
  display: none;
  position:fixed;
  z-index: 1000;
}

.toast-body{
   color: black;
   font-size: 20px;
   padding-left: 1rem;
   width: 100%;
}
#notification{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(19, 92, 219, 0.879);
  height: 30px;
  padding-left: 2rem;
  padding-top: 5px;
  color: white;
}
#img-div{
 width: 100%;
 /* border: 1px solid red; */
 display: flex;
 flex-wrap: wrap;
 position: relative;
 top: 10px;
}
#footer{
  position: relative;
  bottom: 150px;
}
#img-div img{
  height: 300px;
}

#imfo-2{
  padding: 4rem;
  width: 900px;
  position: relative;
}
#img-div-2{
  width: 70%;
  position: relative;
  display: flex;
  bottom: 180px;
 }
 #img-div-2 img{
   height: 300px;
   position: absolute;
   right: 0;
 }
  #custom{
    width: 300px;
    direction: rtl;
    height: 40px;
    position: absolute;
    top: 30px;
  }
#copy i{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 38px;
}
#copied{
  position: absolute;
  right: 0;
  bottom: 5px;
  font-size: 16px;
  background-color: rgba(223, 187, 28, 0.676);
  border-radius: 50px;
  padding:0.2rem 2rem;
  font-weight: 700;
  display: none;
}
#copied2{
  font-size: 14px;
  background-color: rgba(223, 187, 28, 0.676);
  border-radius: 50px;
  padding:0.1rem 2rem;
  font-weight: 700;
  position: relative;
  left: 190px;
  bottom: 20px;
  display: none;
  width: 80px;
}
#otpBox{
    width: 200px;
   border: 3px solid grey;
   border-radius: 9px;
   position: absolute;
   top: 30px;
   left: 0;
  }
#main-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: 100vh; */
}
#container{
    /* border: 1px  black; */
    width:350px;
    height: 250px;
    padding: 3rem;
    position: relative;
    border-radius: 30px;
    bottom: 150px;
    box-shadow: 0px 0px 20px 1px;
    left: 200px;
}
#inputBox{
    height: 40px;
    position: relative;
    width: 285px;
}
#inputBox input{
    width: 300px;
    height: 43px;
    padding-left: 20px;
    font-size: 20px;
}
#timeDisplay{
   font-size: 20px;
}
#slider{
    position: relative;
    top: 50px;
}
@keyframes box-1-slide-in {
  from{
     transform: translateX(100vw);
  }
  to{
      transform:translateX(0);
  }
}
@keyframes box-1-slide-out {
  from{
      transform:translateX(0);
  }
  to{
      transform: translateX(100vw);  
  }
}
#name{
  position:relative;
  top: 150px;
 text-align: center;
 width: 190px;
}
#my-name{
background-color: rgba(0, 0, 0, 0.607);
padding: 0.3rem;
font-size: 20px;
border-top-right-radius: 5px;
color: white;
}
@media screen and (max-width: 568px) {
  *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
#text{
  font-size: 30px;
  font-weight: 700;
  white-space: pre-wrap;
}
#copy-2{
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;
}
#popUp{
  width: 320px;
  height: 80px;
  /* border: 1px solid rgb(79, 42, 165); */
  box-shadow: 0px 0px 5px 1px lightgray;
  position: absolute;
  right: 20px;
 top: 20px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.384);
  display: none;
  position:fixed;
  z-index: 1000;
}
#notification{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(19, 92, 219, 0.879);
  height: 30px;
  padding-left: 2rem;
  padding-top: 5px;
  color: white;
}
#img-div{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 position: relative;
 top: 10px;
 height: 500px;
}
#footer{
  position: relative;
  bottom: 150px;
}
#img-div img{
  height: 300px;
}

#imfo-2{
  padding: 2rem;
  width: 460px;
  position: relative;
  top: 250px;
  border: 1px solid red;
}
#img-div-2{
  width: 70%;
  position: relative;
  display: flex;
  top: 100px;
 }
 #img-div-2 img{
   height: 300px;
   position: absolute;
   left: 30px;
 }
 #imfo{
  margin-left: 30px;
 }

#container{
    width:350px;
    height: 250px;
    padding: 3rem;
    position: relative;
    border-radius: 30px;
    top: 50px;
    box-shadow: 0px 0px 20px 1px;
    left: 40px;
}

#name{
  position:relative;
  top: 480px;
 text-align: center;
 width: 190px;
}
#my-name{
background-color: rgba(0, 0, 0, 0.607);
padding: 0.3rem;
font-size: 20px;
border-top-right-radius: 5px;
color: white;
}
}