*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


#container{
    width: 350px;
    height: 530px;
    /* border: 1px solid red; */
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    top: 30px;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.484);
    background: linear-gradient(180deg,rgba(45, 134, 235, 0.742) 50%,grey 90%);
}
label{
    font-size: 20px;
    font-weight: 700;
}
#convertC{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.651);
    overflow: hidden;
}
#convertF{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.651);
    overflow: hidden;
}

#container img{
    width: 155px;
    /* border: 1px solid red; */
    position: relative;
    border-radius: 4px;
    top: 60px;
}
#convert{
    font-size:19.2px;
    border: 0;
    color: #ffff;
    background-color:rgba(0, 0, 0, 0.703);
    padding: 10px 30px;
    border-radius: 3px;
    transition: transform 0.3s ease;
}
#convert:active{
       transform: scale(0.89);
}