@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#views,#content,#subscribe{
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
}
#views{
    height: 35vh;
    width: 30vh;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;

}
#content{
    height: 150vh;
    width: 140vh;
    color: #2F4F4F;
    font-size: 20px;
    margin-top: 55px;
}
#subscribe{
    /* margin-right: 15px; */
    border-top: 7px solid #308D46;
    height: 40vh;
    width: 40vh;
}
 #back-img{
    margin-left: 28%;
     margin-top: 5px; 
 }
 #logo-name{
    font-size: 40px;
    color: #308D46;
    margin-top:53.6px;
    margin-left: 10px;
 }
 #sub-heading{
    font-size: 22.4px;
    color: #2F4F4F;
    margin-left: 10px;
 }
 #views-sub a{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #3C5349;
    text-decoration: none;
    
 }
 #content p{
     font-size: 16px; 
    color: #696969;
    text-align: justify;
    letter-spacing: 0.05em; 
 }
#sub-btn{
   background: none;
   background-color: #308D46;
    border: 0;
    outline: 0;
    padding:3.2px ;
    color: white;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6.4px;
 }
 #Search-text{
    margin: 10px 0px;
    border-top: 7px solid #308D46;
     border-bottom: 7px solid #308D46;
 }
  #list a{

    text-decoration: none;
    color: black;
 }
  #list a:hover{
    color: #308D46;
 }