@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    font-family: "Inter", sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 75%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
#main-title{
    width: 176px;
    height: auto;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
#container{
    width: 500px;
    height: auto;
    margin: auto;
    padding: 2rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px 3px gray;
    background-color: #ffff;
    border-radius: 10px;
}
#input-box{
    width: 360px;
    height: 50px;
    border:1.5px solid #49678b;
    border-radius: 5px;
    padding-left: 4rem;
    background: none;
    outline: none;
    margin-left: 40px;
}
#addBtn{
    position: relative;
    right: 50px;
    top: 5px;
    font-size: 30px;
    background: none;
    border: none;
    color: #387ED1;;
}
#input-box-todo{
    position: relative;
    top: 40px;
    left: 54px;
    color: #387ED1;
    width: 2px;
}
.div-box{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    margin: 0.4rem 0;
    padding-right: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
   position: relative;
   /* left: 10px; */
  }
.p-box{
padding: 0.2rem;
border-radius: 0.5rem;
margin-left: 1rem;
}
.btn-box{
    background: none;
    color: crimson;
   font-size: 20px;
   border: none;
}
.finish{
    text-decoration: line-through;
    cursor: pointer;
    width: auto;
}
#top{
   padding-top: 20px;
   display: flex;
   gap: 25px;
   margin: auto;
   position: relative;
   /* left: 45px; */
   width: 470PX;
   /* border: 1PX solid RED; */
}
#clear{
    background-color: #387ED1;
    border-radius: 5px;
    font-size: 12px;
     color: #ffff;
     padding: 0.4rem;
     border: 0;
}
.top-names{
  background: none;
  border: 0;
  font-weight: 600;
}
.top-names:hover{
  color: #387ED1;
}
#clearbtn{
    background-color: #d13838;
    border-radius: 5px;
    font-size: 12px;
     color: #ffff;
     padding: 0.4rem;
     border: 0;
     position: relative;
     left: 320px;
     display: none;
}
.fa-circle{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 3px;
}
.fa-circle-check{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    top: 3px;
    color: #38d154;
}
#no-todos{
    position: relative;
    top: 120px;
    left: 30px;
    color: rgba(240, 248, 255, 0.913);
    /* display: none; */
}



@media (max-width: 600px) {
    *{
        /* outline: 1px solid red; */
    }
    #main-title{
        width: 430px;
        height: auto;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 50px;
        font-size: 40px;
    }
    #clear{
        background-color: #387ED1;
        border-radius: 5px;
        font-size: 12px;
         color: #ffff;
         padding: 0.4rem;
         border: 0;
    }
    .top-names{
      background: none;
      border: 0;
      font-weight: 600;
      font-size: 18px;
    }
    #top{
        padding-top: 20px;
        display: flex;
        gap: 15px;
        margin: auto;
        position: relative;
        /* left: 45px; */
        width: 530PX;
        /* border: 1PX solid RED; */
     }
     .div-box{
        right: 30px;
        width: 105%;
        
     }
     #container{
        position: relative;
        /* right: px; */
        width: 140%;
        margin: auto;
        border-radius: 10px;
        left: 20px;
     }
     #clearbtn{
        left: 340px;
     }
     body{
        font-family: "Inter", sans-serif;
        /* background-color: #4158D0; */
        background-image: linear-gradient(990deg, #4158D0 5%, #c850c092 16%, #FFCC70 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
     #input-box{
        width: 460px;
        height: 50px;
        border:1.5px solid #49678b;
        border-radius: 5px;
        padding-left: 4rem;
        background: none;
        outline: none;
        margin-left: 20px;
    }
    #addBtn{
        left: 425px;
         top: -40px;  
    }
}